.layout {
  border-radius: 50vw;
}

.button {
  width: 30vw;
  height: 30vw;
  max-width: 20rem;
    max-height: 20rem;
  border-radius: 50vw;
  border: 0;
  font-size: 3vw;
  background-color: #66c4ff;
}

@media only screen and (max-width: 800px) {
  .button {
    font-size: 5vw;
  }
}

.button:active {
  animation-name: btn-animation;
  animation-duration: 1.5s;
  background-color: #559099;
}

@keyframes btn-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0.8;
  }
}